*{
    margin: 0;
    padding: 0;
    background-color: #111111;
}
.title{
   padding: 1rem 0 2rem 35rem;
   font-size: 3rem;
   color: #02cc02;
   font-family: sans-serif;
}
#app{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    margin-left: 10rem;
    gap: 24px;

}
.note{
    height: 200px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 540;
    background-color: #dddddd;
    border: none;
    border-radius: 12px;
    padding: 16px;
    resize: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    
}
.note:hover{
    scale: 150%;
    transition: ease-in-out 200ms;
    
}



.add-btn{
    height: 200px;
    padding: 16px;
    border: none;
    outline: none;
    font-size: 120px;
    color: #00ff00a9;
    background-color: #02cc02;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.5s;
}
.add-btn:hover{
    background-color: #ee7587a8;
    color:#f9abb6 ;
}